h2 {
  font-family: 'Lato', 'Calibri', 'sans-serif';
}

body {
  font-family: 'Lato', 'Calibri', 'sans-serif';
  font-size: 16pt;
}

.row {
  display: flex;
  text-align: center; 
  justify-content: center;
  align-items: top;
}

.column {
  flex: 0 0 100px;
  padding: 30px;
  align-self: top
}

input[type=submit] {
  border: none;
  border-radius: 12px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Lato', 'Calibri', 'sans-serif';
  font-size: 16px;
  transition-duration: 0.4s;
  background-color: #e7e7e7;
}

input[type=submit]:hover {
  background-color: #d1d1d1;
  color: black;
}

#myInput {
  width: 40%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#resultsTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

#resultsTable th {
  text-align: center;
  padding: 12px; /* Add padding */
}

#resultsTable td {
  padding: 12px; /* Add padding */
}

#resultsTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#resultsTable tr.header, #resultsTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}
