{% load static %}

<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'TakeItOrSleeveIt/style.css' %}">

<h1 align="center" margin-top=1cm>Choose your favourite!</h1>
<form action="http://127.0.0.1:8000/takeitorsleeveit/results/">
<div align="center">
    <input type="submit" value="See results"/>
</div>
</form>

</head>

<body>


{% if album0 and album1 %}
    <form action="{% url 'TakeItOrSleeveIt:vote' %}" method="post">
    {% csrf_token %}
        <div class="row">
            <div class="column">
            <input type="image" name="{{ album0.id }}_{{ album1.id }}" value="" src="{{ album0.img }}" width=300px height=300px>
                <label> 
                    <p><i>{{ album0.title }}</i></p>
                    <p>{{ album0.artist }}</p>
                    <p>{{ album0.year }}</p>
                </label>
            </div>
            
            <div class="column">
                <input type="image" name="{{ album1.id }}_{{ album0.id }}" value="" src="{{ album1.img }}" width=300px height=300px>
                <label>
                    <p><i>{{ album1.title }}</i></p>
                    <p>{{ album1.artist }}</p>
                    <p>{{ album1.year }}</p>
                </label>
            </div>
        </div>
    </form>
{% else %}
    <p>No albums are available.</p>
{% endif %}

</body>
